# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

GITHUB_ID=...
GITHUB_SECRET=...
AUTH_SECRET=...
ADMIN_GITHUB_USERNAME=...
REDIS_URL=${{Redis.REDIS_URL}}
PUBLIC_BASE_URL=https://your-app.railway.app


PUBLIC_GISCUS_REPO=...
PUBLIC_GISCUS_REPO_ID=...
PUBLIC_GISCUS_CATEGORY=...
PUBLIC_GISCUS_CATEGORY_ID=...


BUCKET_ENDPOINT=https://...
BUCKET_ACCESS_KEY_ID=...
BUCKET_SECRET_ACCESS_KEY=...
BUCKET_REGION=auto
BUCKET_NAME=...